<%- include('../header') %>
<%- include('title') %>

<div style="overflow-y: scroll;">
    <table class="table mt-3" style="width:2000px">
        <thead>
            <tr>
                <th scope="col" >Name</th>
                <th scope="col">ID</th>
                <th scope="col">Issuer (name)</th>
                <th scope="col">Payment Type</th>
                <th scope="col">BIN</th>
                <th scope="col">Network Type</th>
                <th scope="col">Date Created</th>
                <th scope="col">Date Modified</th>
                <th scope="col">Image</th>
                <th scope="col">No. Promotions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">American Express Platnium</th>
                <td>4F768A3B-0781-4688-AC22-D91B9A684B7A</td>
                <td>American Express</td>
                <td>credit</td>
                <td>283748</td>
                <td>American Express</td>
                <td>2023-10-17T22:44:07.596Z</td>
                <td>2023-10-17T22:44:07.596Z</td>
                <td>N/A</td>
                <td>8</td>
            </tr>
        </tbody>
    </table>
</div>

<%- include('../footer') %>
