<div class="d-flex align-items-center justify-content-between mt-3">
    <div>
        <h3 class="mb-0"><%= title %></h3>
        <p class="text-secondary mt-0 mb-0"><%= subtitle %></p>
    </div>
    <a class="btn btn-primary ms-3" href="<%= new_url %>" role="button">New</a>
</div>