<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <main>
        <header class="p-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <!-- <div class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                        <p>Example</p>
                    </div> -->
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/dashboard/issuers" class="nav-link px-2 <% if (id == 'issuers') { %>text-secondary<% } %>">Issuers</a></li>
                        <li><a href="/dashboard/paymentmethods" class="nav-link px-2 <% if (id == 'payment_methods') { %>text-secondary<% } %>">Payment Methods</a></li>
                        <li><a href="/dashboard/promotions" class="nav-link px-2 <% if (id == 'cashback_promotions') { %>text-secondary<% } %>">Cashback Promotions</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">